body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
}
a {
  text-decoration: none;
}
#scrollUp {
  bottom: 15px;
  right: 15px;
  padding: 10px 20px;
  background: #1a76d1;
  color: #fff;
  font-size: 25px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #00000026;
}
#scrollUp:hover {
  background: #2c2d3f;
}

/*=============================
	End Global CSS 
===============================*/

/*===================
	Start Header CSS 
=====================*/
.header {
  background-color: #fff;
  position: relative;
}
.header .navbar-collapse {
  padding: 0;
}
/* Topbar */
.header .topbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.header .topbar {
  padding: 15px 0;
}
.header .top-link {
  float: left;
}
.header .top-link li {
  display: inline-block;
  margin-right: 15px;
}
.header .top-link li:last-child {
  margin-right: 0px;
}
.header .top-link li a {
  color: #2c2d3f;
  font-size: 14px;
  font-weight: 400;
}
.header .top-link li:hover a {
  color: #1a76d1;
}

.header .header-inner {
  background: #fff;
  z-index: 999;
  width: 100%;
}
.get-quote {
  margin-top: 12px;
}
.get-quote .btn {
  color: #fff;
}
.header .logo {
  float: left;
  margin-top: 18px;
}
.header .navbar {
  background: none;
  box-shadow: none;
  border: none;
  margin: 0;
  height: 0px;
  min-height: 0px;
}
.header .nav li {
  margin-right: 15px;
  float: left;
  position: relative;
}
.header .nav li:last-child {
  margin: 0;
}
.header .nav li a {
  color: #2c2d3f;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 25px 12px;
  position: relative;
  display: inline-block;
  position: relative;
}
.header .nav li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #1a76d1;
  border-radius: 5px 5px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.header .nav li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.header .nav li.active a {
  color: #1a76d1;
}
.header .nav li:hover a:before {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.header .nav li:hover a {
  color: #1a76d1;
}
.header .nav li a i {
  display: inline-block;
  margin-left: 1px;
  font-size: 13px;
}
/* Middle Header */
.header.style2 .header-inner {
  border-top: 1px solid #eee;
}
.header.style2 .logo {
  margin-top: 6px;
}
.header .middle-header {
  background: #fff;
  padding: 20px 0px;
}
.header .widget-main {
  float: right;
}
.header.style2 .get-quote {
  margin-top: 0;
}
.header .single-widget {
  position: relative;
  float: left;
  margin-right: 30px;
  padding-left: 55px;
}
.header .single-widget:last-child {
  margin: 0;
}
.header .single-widget .logo {
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.header .single-widget i {
  position: absolute;
  left: 0;
  top: 6px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  background: #1a76d1;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
}
.header .single-widget h4 {
  font-size: 15px;
  font-weight: 500;
}
.header .single-widget p {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.header .single-widget.btn {
  margin-left: 0;
}
/* Dropdown Menu */
.header .nav li .dropdown {
  background: #fff;
  width: 220px;
  position: absolute;
  left: -20px;
  top: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  top: 74px;
  border-left: 3px solid #2889e4;
}
.header .nav li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header .nav li .dropdown li {
  float: none;
  margin: 0;
  border-bottom: 1px dashed #eee;
}
.header .nav li .dropdown li:last-child {
  border: none;
}
.header .nav li .dropdown li a {
  padding: 12px 15px;
  color: #666;
  display: block;
  font-weight: 400;
  text-transform: capitalize;
  background: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header .nav li .dropdown li a:before {
  display: none;
}
.header .nav li .dropdown li:last-child a {
  border-bottom: 0px;
}
.header .nav li .dropdown li:hover a {
  color: #1a76d1;
}
.header .nav li .dropdown li a:hover {
  border-color: transparent;
}
/* Right Bar */
.header.style2 .main-menu {
  display: inline-block;
  float: left;
}
.header .right-bar {
  float: right;
}
.header .right-bar {
  padding-top: 20px;
}
.header .right-bar {
  display: inline-block;
}
.header .right-bar a {
  color: #fff;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background: #1a76d1;
  border-radius: 4px;
  display: block;
  font-size: 12px;
}
.header .right-bar li a:hover {
  color: #fff;
  background: #27ae60;
}
.header .search-top.active .search i:before {
  content: "\eee1";
  font-size: 15px;
}
/* Search */
.header .search-form {
  position: absolute;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 74px;
  box-shadow: 0px 0px 10px #0000001c;
  border-radius: 4px;
  overflow: hidden;
  transform: scale(0);
}
.header .search-top.active .search-form {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.header .search-form input {
  width: 282px;
  height: 50px;
  line-height: 50px;
  padding: 0 70px 0 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #2c2d3f;
}
.header .search-form button {
  position: absolute;
  right: 0;
  height: 50px;
  top: 0;
  width: 50px;
  background: #1a76d1;
  border: none;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid transparent;
}
.header .search-form button:hover {
  background: #fff;
  color: #1a76d1;
  border-color: #e6e6e6;
}
/* Header Sticky */
.header.sticky .header-inner {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: initial;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  animation: fadeInDown 0.5s both 0.1s;
  box-shadow: 0px 0px 13px #00000054;
}
.mobile-nav {
  display: none;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  padding: 15px;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.open .hamburger-menu span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

.open .hamburger-menu span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 991px) {
  .mobile-nav {
    display: block;
  }

  .main-menu {
    display: none;
  }

  .open .main-menu {
    display: block;
  }
}

/*=========================
	End Header CSS
===========================*/

/*===========================
	Start Hero Area CSS
=============================*/
.slider .single-slider {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.slider .single-slider .text {
  margin-top: 100px;
  border-radius: 10px;
  padding: 10px;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Add a semi-transparent background to the text for better readability */
}

@media (max-width: 768px) {
  .slider .single-slider .text {
    width: 100%; /* Change to full width on smaller screens */
  }
}
.slider.index2 .single-slider .text {
  margin-top: 150px;
}
.slider .single-slider h1 {
  color: #2c2d3f;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 42px;
}
.slider .single-slider h1 span {
  color: #1a76d1;
}
.slider .single-slider p {
  color: #2c2d3f;
  margin-top: 27px;
  font-weight: 400;
}
.slider .single-slider .button {
  margin-top: 30px;
}
.slider .single-slider .btn {
  color: #fff;
  background: #1a76d1;
  font-weight: 500;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}
.slider .single-slider .btn:last-child {
  margin: 0;
}
.slider .single-slider .btn.primary {
  background: #2c2d3f;
  color: #fff;
}
.slider .single-slider .btn.primary:before {
  background: #1a76d1;
}
.slider .owl-carousel .owl-nav {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -25px;
}
.slider .owl-carousel .owl-nav div {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background: #1a76d1;
  color: #fff;
  font-size: 26px;
  position: absolute;
  margin: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0;
  border-radius: 50%;
}
.slider .owl-carousel .owl-nav div:hover {
  background: #2c2d3f;
  color: #fff;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 20px;
}
.slider .owl-carousel .owl-controls .owl-nav .owl-next {
  right: 20px;
}

/* Slider Animation */
.owl-item.active .single-slider h1 {
  animation: fadeInUp 1s both 0.6s;
}
.owl-item.active .single-slider p {
  animation: fadeInUp 1s both 1s;
}
.owl-item.active .single-slider .button {
  animation: fadeInDown 1s both 1.5s;
}
/*===========================
	End Hero Area CSS
=============================*/

/* Domain section */
.ftco-domain {
  padding: 5em 0;
  background: #233142;
}

.domain-form {
  width: 100%;
  display: block;
}

.domain-form .domain-name {
  width: calc(100% - 300px);
}

@media (max-width: 576px) {
  .domain-form .domain-name {
    width: 100%;
  }
}

.domain-form .domain-select {
  width: 300px;
}

@media (max-width: 576px) {
  .domain-form .domain-select {
    width: 100%;
  }
}

.form-group {
  position: relative;
  margin-bottom: 0;
}

.form-group select {
  appearance: none;
  border-left: 1px solid lighten(black, 90%) !important;
}

.form-group .form-control {
  height: 60px !important;
}

.form-group input,
.form-group select {
  appearance: none;
  font-size: 14px;
  padding-right: 20px !important;
  color: black;
  border: none;
}

.form-group input.name {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-group option {
  color: black;
}

.form-group input::-webkit-input-placeholder {
  color: black !important;
}

.form-group input::-moz-placeholder {
  color: black !important;
}

.form-group input:-ms-input-placeholder {
  color: black !important;
}

.form-group input:-moz-placeholder {
  color: black !important;
}

.form-group input:focus,
.form-group input:active,
.form-group select:focus,
.form-group select:active {
  border: none;
}

.form-group .btn-primary {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  text-align: center;
}

.select-wrap {
  position: relative;
  width: 80px;
}

.search-domain {
  width: calc(100% - 120px);
}

@media (max-width: 768px) {
  .search-domain {
    width: calc(100% - 80px);
  }
}

.icon {
  position: absolute;
  top: 50% !important;
  right: 15px;
  font-size: 14px;
  transform: translateY(-50%);
  color: black;
}

@media (max-width: 576px) {
  .icon {
    right: 15px;
  }
}

.domain-price {
  margin-bottom: 0;
}

.domain-price span {
  color: white;
  margin: 0 10px;
  font-weight: 500;
}

.domain-price span small {
  color: #1a76d1;
}

.table {
  text-align: center;
}

.table th {
  font-weight: 500;
}

.thead-primary {
  tr th {
    padding: 30px 10px;
    color: white !important;
    border: 1px solid transparent !important;
  }
}

tbody tr td {
  font-weight: 400;
  padding: 20px 10px !important;
  color: black;
  border: 1px solid transparent !important;
  border-bottom: 1px solid lighten(black, 94%) !important;
}

@media (min-width: 768px) {
  tbody tr:nth-child(odd) {
    background: lighten(black, 99%);
  }
}

/* core features */

.core_features {
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .core_features {
    padding-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .core_features {
    padding-bottom: 80px;
  }
}
.core_features .border-bottm {
  border-bottom: 1px solid #efe5f2;
  margin-bottom: 90px;
  padding-bottom: 0;
}
.nav {
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .nav {
    justify-content: flex-start;
  }
}
.nav a {
  font-size: 16px;
  color: #919191;
  margin-left: 17px;
  padding-bottom: 37px;
}
@media (max-width: 768px) {
  .nav a {
    margin-left: 0;
    font-size: 14px;
    padding-bottom: 20px;
  }
}
.nav a.active {
  position: relative;
  z-index: 0;
  color: #2e004b;
}
.nav a.active::before {
  content: "";
  background: #00d363;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.single_features {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .single_features {
    margin-bottom: 30px;
  }
}
.single_features .icon {
  position: left;
  float: left;
  width: 82px;
  height: 82px;
  background: #eff7ff;
  border-radius: 50%;
  font-size: 25px;
  color: #0181f5;
  text-align: center;
  line-height: 82px;
  font-weight: 700;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .single_features .icon {
    float: none;
    margin-bottom: 30px;
  }
}
.single_features .icon i {
  position: relative;
  left: 2px;
}
.single_features .icon.blue {
  color: #390055;
}
.single_features .icon.pink {
  color: #ff87a3;
  background: #fff7f9;
}
.single_features .icon.yellow {
  color: #f3c306;
  background: #fffbef;
}
.single_features:hover .icon {
  color: #fff !important;
  background: #886cfe !important;
}
.features_info {
  display: block;
  overflow: hidden;
  padding-left: 30px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .features_info {
    padding-left: 0;
  }
}
.features_info h4 {
  font-size: 20px;
  font-weight: 400;
  color: #1f1f1f;
  margin-bottom: 10px;
}
.features_info p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 28px;
}

.core_features2 .border-bottm {
  margin-bottom: 60px;
  border-bottom: 1px solid #ddd;
}
.core_features2 .nav {
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .core_features2 .nav {
    justify-content: flex-start;
  }
}
.core_features2 .nav a {
  font-size: 16px;
  color: #919191;
  padding-bottom: 37px;
}
@media (max-width: 768px) {
  .core_features2 .nav a {
    margin-left: 0px;
    font-size: 14px;
    padding-bottom: 20px;
  }
}
.core_features2 .nav a.active {
  position: relative;
  z-index: 9;
  color: #2e004b;
}
.core_features2 .nav a.active::before {
  content: "";
  background: #00d363;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Testimonial section */

/* Data Centers */
.data_center_area .location .pulse_group span:nth-child(1) {
  position: absolute;
  left: 56%;
  top: 73%;
}

.data_center_area .location .pulse_group span {
  width: 10px;
  height: 10px;
  /* background: #670080; */
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.data_center_area .location .pulse_group span:nth-child(2) {
  position: absolute;
  left: 20%;
  top: 39%;
}
.location {
  position: relative;
}

.pulse_group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure markers span the entire width of the map */
  height: 100%; /* Ensure markers span the entire height of the map */
}
.data_center_area .location .pulse_group span:nth-child(4)::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pulse4 2.4s infinite;
}

.address_on_hover {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* End of data centers */
/* Footer */

.footer {
  background-position: 0px 112px, right 0 bottom 0, left 50% top 80px,
    left 50% bottom 0, top center;
  background-repeat: no-repeat;
}

.footer p {
  font-size: 15px;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.3);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
