<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers - SiteSwift</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/admin.css') }}?{{ cached_id }}"
    />
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="header-right">
          <!-- <button aria-label="Notifications">
            <span class="material-icons-outlined">notifications</span>
          </button> -->
          <button aria-label="Email">
            <span class="material-icons-outlined">email</span>
          </button>
          <button aria-label="Account">
            <span class="material-icons-outlined">account_circle</span>
          </button>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar" class="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">business</span> SiteSwift
          </div>
          <!-- <button
            aria-label="Close Sidebar"
            class="close-icon"
            onclick="closeSidebar()"
          >
            <span class="material-icons-outlined">close</span>
          </button> -->
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="{{ url_for('admin_dashboard') }}">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="{{ url_for('admin_customers') }}">
              <span class="material-icons-outlined">inventory_2</span> Customers
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="{{ url_for('admin_sales') }}">
              <span class="material-icons-outlined">category</span> Sales
            </a>
            <ul class="nav-content collapse">
              <li>
                <a href="{{ url_for('admin_sales', status='pending') }}">
                  <span class="material-icons-outlined"></span>
                  <span>Pending</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('admin_sales', status='completed') }}">
                  <span class="material-icons-outlined"></span>
                  <span>Completed</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('admin_sales', status='rejected') }}">
                  <span class="material-icons-outlined"></span>
                  <span>Rejected</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>CUSTOMERS</h2>
        </div>

        <div class="main-content">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in users %}
                <tr>
                  <td>{{ customer.id }}</td>
                  <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                  <td>{{ customer.email }}</td>
                  <td>Active</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <!-- End Main -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}?{{ cached_id }}"></script>
    <script src="{{ url_for('static', filename='scripts/admin.js') }}?{{ cached_id }}"></script>
  </body>
</html>
