<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales - SiteSwift</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/admin.css') }}"
    />
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <!-- <button
          class="menu-icon"
          aria-label="Open Sidebar"
          onclick="openSidebar()"
        >
          <span class="material-icons-outlined">menu</span>
        </button> -->
        <div class="header-left">
          <!-- <button aria-label="Search">
            <span class="material-icons-outlined">search</span>
          </button> -->
        </div>
        <div class="header-right">
          <!-- <button aria-label="Notifications">
            <span class="material-icons-outlined">notifications</span>
          </button> -->
          <button aria-label="Email">
            <span class="material-icons-outlined">email</span>
          </button>
          <button aria-label="Account">
            <span class="material-icons-outlined">account_circle</span>
          </button>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar" class="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">business</span> SiteSwift
          </div>
          <!-- <button
            aria-label="Close Sidebar"
            class="close-icon"
            onclick="closeSidebar()"
          >
            <span class="material-icons-outlined">close</span>
          </button> -->
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="{{ url_for('admin_dashboard') }}">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="{{ url_for('admin_customers') }}">
              <span class="material-icons-outlined">inventory_2</span> Customers
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="{{ url_for('admin_sales') }}">
              <span class="material-icons-outlined">category</span> Sales
            </a>
            <ul class="nav-content collapse">
              <li>
                <a href="{{ url_for('admin_sales', status='pending') }}">
                  <span class="material-icons-outlined"></span>
                  <span>Pending</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('admin_sales', status='completed') }}">
                  <span class="material-icons-outlined"></span>
                  <span>Completed</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('admin_sales', status='rejected') }}">
                  <span class="material-icons-outlined"></span>
                  <span>Rejected</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>SALES</h2>
        </div>

        <div class="main-content">
          <div class="table-container">
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Server IP</th>
                    <th>Product</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody id="sales-table-body">
                  {% for order in orders %}
                  <tr data-status="Completed">
                    <td>{{ order.id }}</td>
                    <td>{{ order.ip_address }}</td>
                    <td>
                      {% for hosting in hosting_plans %} {% if hosting.id ==
                      order.hosting_plan_id %} {{ hosting.name }} {% endif %} {%
                      endfor %}
                    </td>
                    <td>
                      {% for customer in users %} {% if customer.id ==
                      order.user_id %} {{ customer.first_name }} {{
                      customer.last_name }} {% endif %} {% endfor %}
                    </td>
                    <td>Ksh {{ order.amount }}/=</td>
                    <td>{{ order.status }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
      <!-- End Main -->
    </div>

    <!-- Custom JS -->
    <script src="../static/scripts/main.js"></script>
  </body>
</html>
