<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SiteSwift</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css?{{ cached_id }}" />
  </head>
  <body>
    <!-- Navbar Start -->
    
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    <div
      class="modal fade"
      id="searchModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Search by keyword
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body d-flex align-items-center">
            <div class="input-group w-75 mx-auto d-flex">
              <input
                type="search"
                class="form-control p-3"
                placeholder="keywords"
                aria-describedby="search-icon-1"
              />
              <span id="search-icon-1" class="input-group-text p-3"
                ><i class="fa fa-search"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Search End -->

    <div>
      <div class="container mb-4 main-container">
        <div class="row">
          <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
              <div
                class="author-card-cover"
                style="
                  background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);
                "
              >
                <a
                  class="btn btn-style-1 btn-white btn-sm"
                  href="#"
                  data-toggle="tooltip"
                  title=""
                  data-original-title="You currently have 290 Reward points to spend"
                  ><i class="fa fa-award text-md"></i>&nbsp;SiteSwift Customer</a
                >
              </div>
              <div class="author-card-profile">
                <div class="author-card-avatar">
                  <img
                    src="../static/uploads/{{ user.image }}"
                    alt="User's Image"
                  />
                </div>
                <div class="author-card-details">
                  <h5 class="author-card-name text-lg">Name: {{ user.first_name }} {{ user.last_name }}</h5>
                </div>
                <div class="mt-3 ">
                    
									<p class="text-muted info">Email: {{ user.email }}</p>
                                
									<button class="btn btn-primary mt-2">Log Out</button>
									<!-- <button class="btn btn-outline-primary email">Message</button> -->
                                    
    <a href="mailto:joanwaithira.jw@gmail.com" class="btn btn-outline-primary email mt-2">Get Support</a>

								</div>
              </div>
            </div>
            <div class="wizard">
              <nav class="list-group list-group-flush">
                <a class="list-group-item active" href="#">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div>
                      <i class="fa fa-shopping-bag mr-1 text-muted"></i>
                      <div
                        class="d-inline-block font-weight-medium text-uppercase"
                      >
                        Transactions
                      </div>
                    </div>
                    <span class="badge badge-secondary"></span>
                  </div> </a
                ><a
                  class="list-group-item"
                  href="{{ url_for('profile') }}"
            
                  ><i class="fa fa-user text-muted"></i>Update Profile</a
                >
                <a
                  class="list-group-item"
                  href="{{ url_for('services') }}"
            
                  ><i class="fa fa-user text-muted"></i>See Hosting Plans</a
                >
                
                
            </div>

          </div>
          <!-- Transactions done -->
          <div class="col-lg-8 pb-5">
            <h4>Sites Hosted</h4>
            <div class="d-flex justify-content-end pb-3">
              <div class="form-inline">
                <label class="text-muted mr-3" for="order-sort"
                  >Sort Orders</label
                >
                <select class="form-control" id="order-sort">
                  <option>All</option>
                  <option>Delivered</option>
                  <option>In Progress</option>
                  <option>Delayed</option>
                  <option>Canceled</option>
                </select>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>Order Numbers</th>
                    <th>Date Purchased</th>
                    <th>Hosting Plan</th>
                    <th>Server IP</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td>
                      <a
                        class="navi-link"
                        href="#order-details"
                        data-toggle="modal"
                        >{{ order.id }}</a
                      >
                    </td>
                    <td>
                      <span>{{ order.created_at }}</span>
                    </td>
                    <td>
                      <span >
                        {% for hosting in hosting_plans %}
                        {% if hosting.id == order.hosting_plan_id %}
                        {{ hosting.name }}
                        {% endif %}
                        {% endfor %}
                      </span>
                    </td>
                    <td>
                      <span>{{ order.ip_address }}</span>
                    </td>
                    <td><span>Ksh {{ order.amount }}/=</span></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
         

          <!-- My Pets -->
          
           

        </div>
      </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var duration = 3000; // 5000 milliseconds = 5 seconds
            var flashMessage = document.getElementById("flash-message");
            setTimeout(function() {
                flashMessage.classList.add("hide");
            }, duration);
        });
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/logout.js') }}?{{ cached_id }}"></script>
  </body>
</html>
